Task 01 (A)

In [ ]:
  #a

# i = 24
# while i >= -6:
#  print(i,end=",")
#   i = i - 6

i = 24
while i >= -6:
   if i == -6:
     print(i,end="")
   else:
     print(i,end=",")
   i = i - 6

24,18,12,6,0,-6

Task 01 (B)

In [ ]:
  #b

i = -10
while i <= 20:
   if i == 20:
     print(i,end="")
   else:
     print(i,end=",")
   i = i + 5

-10,-5,0,5,10,15,20

Task 01 (C)

In [ ]:
 #c

i = 18
while i <= 63:
   if i == 63:
     print(i,end="")
   else:
     print(i,end=",")
   i = i + 9

18,27,36,45,54,63

Task 01 (D)

In [ ]:
i = 18
while i <= 63:
  
  if i % 2 != 0:
    i = i * (-1)
    # print(i,end=",")
    
    if i == -63:
     print(i,end="")
    else:
     print(i,end=",")
    i = i * (-1)
  else:
    print(i, end = ",")

  i = i + 9

18,-27,36,-45,54,-63

Task 02

In [ ]:
# name = input("Enter the name of his favourite car ")
# num = int(input("Enter a number "))

# i = 1
# while i <= num:
#   print(name)
#   i += 1

x=input('car name: ')
y=int(input('enter a number: '))  
count =1
while(count<=y):
       print(x)
       count= count+1

Enter the name of his favourite car tub
Enter a number 3
tub
tub
tub
car name: tub
enter a number: 3
tub
tub
tub

Task 03

In [ ]:
total=0
for count in range(1,601):
     if(count%7==0) and (count%9==0):
         total=total+count
print(total)

2835

Task 04

In [ ]:
#Method 1

total=0
for count in range(1,601):
     if(count%7==0) and (count%9==0):
         pass
     elif(count%7==0) or (count%9==0):
      total=total+count
print(total)


#Method 2
total=0
for count in range(1,601):
     if((count%7==0) or (count%9==0)) and not((count%7==0) and (count%9==0)):
      total=total+count
print(total)

39814

Task 05

In [ ]:
# Method 1


count = 10
for count in range(10,51):
  if count % 2 == 0:
    pass
  else:
   print(count,end = " ")


# Method 2

count = 10
for count in range(11,51,2):
 print(count,end = " ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

Task 06

In [ ]:
n = int(input("Enter the value of n: "))

sum = 0
for count in range(1,(n+1)):
  count = count ** 2
  if count % 2 == 0:
    count = count * (-1)
  sum = sum + count 
print(sum)

Enter the value of n 20
-210

Task 07

In [ ]:
# x = map(int(x) for x in input("Enter multiple value: ").split(","))

# total = 0
# for x in range(1,(x+1)):
#   if x % 2 !=0:
#     sum = sum + x
#   print(sum)

total=0 
count=0 
for i in range(0,10): 
  num = int(input()) 
  if(num%2!=0): 
   total+=num 
   count+=1 
print("The total of the odd numbers is ",total,"and their average is",total/count)

1
2
3
4
5
6
7
8
9
10
The total of the odd numbers is  25 and their average is 5.0

Task 08

In [ ]:
N = int(input("Enter a number "))

total=0
for count in range(1,(N+1)):
     if(count%7==0):
         total=total+count
print(total)

Enter a number 75
385

Task 09

In [ ]:
total=0 
count=0 
for i in range(0,5): 
  num = int(input())  
  total+=num 
  print(total)

1
2
3
4
5
15

Task 10

In [ ]:
# num  = input("Enter a number: ")

# for i in reversed(num):
#   print(i,end=",")



n = int(input("Enter a number: "))


count = 0
while n >= 0:
  num = n%10
  n = n//10
  print(num,end=",")
  # print(n)
  count +=1
  if n==0:
    break

Enter a number: 32768
8,6,7,2,3,

**Task 11**

In [ ]:
n = int(input("Enter a number: "))


count = 0
while n > 0:
  n = n//10
  count +=1
print(count)

Enter a number: 9876
4

**Task 12**

In [ ]:
n = int(input("Enter a number: "))

num = n


size = 0
while num>0:
  num = num//10
  size = size + 1


while n>0:
  dig = n//10**(size - 1)
  n = n%10**(size - 1)
  size = size - 1
  print(dig, end=",")

Enter a number: 32768
3,2,7,6,8,

**Task 13**

In [ ]:
n = int(input("Enter a number: "))

count = 0
for i in range(1,n+1,1):
  if n % i == 0:
   num = n // i
   print(num)
   count += 1
  else:
    pass 
print("Total divisors",count)

Enter a number: 121
121
11
1
Total divisors 3

**Task 14**

In [ ]:
n = int(input("Enter any number: "))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print(n," is a Perfect number!")
else:
    print(n," is not a Perfect number!")

Enter any number: 33
33  is not a Perfect number!

**Task 15**

In [ ]:
n = int(input("Enter a number: "))

is_prime = True 

for i in range(2,n,1):
  if n%i == 0:
   is_prime = False
   break

   
if(is_prime):
  print(n,"is a Prime number")
else:
  print(n,"is not a Prime number")

Enter a number: 6
6 is not a Prime number

**Task 16**:

In [ ]:
sum = 0
num=int(input("Enter a number: "))

maximum = 0
minimum = 0



for i in range(0,num):
  n = int(input( ))
  sum = sum + n
  if maximum == 0 or n>=maximum:
    maximum = n
  else:
    maximum = maximum
  if minimum == 0 or n<=minimum:
    minimum = n
  else:
    minimum = minimum

print("Sum of the numbers is ",sum)
print("Average of the numbers is ", sum/num)
print("Maximum",maximum)
print("Minimum", minimum)

Enter a number: 5
10
4
-1
-100
1
Sum of the numbers is  -86
Average of the numbers is  -17.2
Maximum 10
Minimum -100

**Task 17**

In [ ]:
n = int(input())
for j in range(n):
 for i in range(n):
   print('+', end="")
 print()

5
+++++
+++++
+++++
+++++
+++++

**Task 18**

In [ ]:
M = int(input("Enter row numbers: "))
N = int(input("Enter column numbers: "))

for j in range(1,M+1):
  for i in range(1,N+1):
    print(i,end="")
  print()

Enter row numbers: 4
Enter column numbers: 6
123456
123456
123456
123456

**Task 19**

In [ ]:
n = int(input())

for i in range(1, n+1,1):
 for j in range(1,i+1,1):
   print(j,end="")
 print()

5
1
12
123
1234
12345

**Task 20**

In [ ]:
x = 0
p =0
sum = 0
p = 1
x = 2
q = None
sum = 0
while p < 12:
    q = x + p - (sum + 7 / 3) / 3.0 % 2
    sum = sum + x + int(q)
    x += 1
    print(sum)
    if x > 5:
        p += 4 / 2
    else:
        p += (3 % 1)
sum = int(sum + p)
print(sum)

4
10
18
28
42
60
82
108
138
151

**Task 21**

In [ ]:
x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 10) :
  q = x + p - (sum + int(5 / 3)) / 3.0 % 2
  sum = sum + x + int(q)
  x += 1
  print(sum)
  if (x > 5) :
    p += int(4 / 2)
  else :
    p += 3 % 1
sum = sum + p
print(sum)

4
9
16
25
39
56
78
104
115

**Task 22**

In [ ]:
x = y = 0 
sum = 0
while (x < 10):
  y = x - 3
  while (y < 3):
    sum = x - y * 2 
    print(sum)
    y = y + 1
  if (x > 7): 
    x += 1
  else: 
    x += 3
sum = x - y * 2
print(sum)

6
4
2
0
-2
-4
3
1
-1
-2

**Task 23**

In [ ]:
x = 0
y = 0
sum = 0
p = 0.0
while (x < 10):
    y = x // 2
    while (y < x):
        p = (x + 10.0) / 2
        sum = (sum % 2) + x - y * 2 + int(p)
        print(sum)
        y = y + 2
    if (x > 5):
        x += 1
    else:
        x += 2

6
7
9
5
10
5
10
5
11
7
3

**Task 24**

In [ ]:
test = 1
j = 0
k = 100
while (k > 0):
  while ( j < k ):
    test = k + j -21
    print(str(1 + int (test / 2)))
    j += 10
  k -= 10
test = 1
j = 0
k = 100

40
45
50
55
60
65
70
75
80
85

**Task 25**

In [ ]:


n_terms = int(input ("How many terms the user wants to print? "))  
  
# First two terms  
n_1 = 0  
n_2 = 1  
count = 0  
  
# Now, we will check if the number of terms is valid or not  
if n_terms <= 0:  
    print ("Please enter a positive integer, the given number is not valid")  
# if there is only one term, it will return n_1  
elif n_terms == 1:  
    print ("The Fibonacci sequence of the numbers up to", n_terms, ": ")  
    print(n_1)  
# Then we will generate Fibonacci sequence of number  
else:  
    print ("The fibonacci sequence of the numbers is:")  
    while count < n_terms: 

        print(n_1)  
        nth = n_1 + n_2  
       # At last, we will update values  
        n_1 = n_2  
        n_2 = nth  
        count += 1  
        if  n_terms<n_1:
          break

How many terms the user wants to print? 15
The fibonacci sequence of the numbers is:
0
1
1
2
3
5
8
13

**Task 26**

In [ ]:
n = int(input("Enter a number: "))

binary = ""
count = 0
while n >= 0:
  
  num = n%2
  n = n//2
  binary = str(num) + binary
  # print(n)
  count +=1
  if n==0:
    break
print(binary)

Enter a number: 13
1101

In [ ]:
binary= int(input("Enter a number: "))

binary1 = binary
decimal, i, n = 0, 0, 0
while(binary != 0):
        dec = binary % 10
        decimal = decimal + dec * pow(2, i)
        binary = binary//10
        i += 1
print(decimal)

Enter a number: 11101
29

**Task 27**

In [ ]:

binary= int(input("Enter a number: "))

decimal= 0
i = 0
while(binary != 0):
        dec = binary % 10
        decimal = decimal + dec * pow(2, i)
        binary = binary//10
        i += 1
print(decimal)

Enter a number: 1010
15

**Task 28**

In [ ]:
# Python program to display all the prime numbers within an interval

lower = int(input("Enter a number: "))
upper = int(input("Enter a number: "))

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
              print(num,end=",")
sum1 = 0
for i in range(lower, upper):
    if(lower % i == 0):
        sum1 = sum1 + i
    elif(upper % i == 0):
        sum1 = sum1 + i
if (sum1 == lower) or (sum1==upper) :
    print(n," is a Perfect number!")

Enter a number: 2
Enter a number: 6
Prime numbers between 2 and 6 are:
2
3
5
0  is not a Perfect number!

**Task 29**

In [ ]:
lower=input("Enter lower range limit:")
upper=input("Enter upper range limit:")
n=int(input("Enter the number to be divided by:"))
for i in range(int(lower),int(upper)+1):
    if(i%n==0):
        print(i)


for i in range(int(lower[1]),11):
  num = int(lower[0]) * int(lower[i])
  print(num)

Enter lower range limit:25
Enter upper range limit:30
Enter the number to be divided by:4
28

IndexError: ignored