Task 01

In [ ]:
print("hello world")

hello world

Task 02

In [ ]:
print(54 + 56)

110

Task 03

In [ ]:
season = "Fall "
year = "2022"

print(season+"\n"+year)

#print(season,year, sep='\n')

#print(season, year, sep='\n')

print(season)
print(year)

# from __future__ import print_function

# season = "Fall "
# year = "2022"

# print(season, year, sep='\n')

Fall
2022
Fall
2022

Task 04

In [ ]:
name = input("Enter your name ")
print("Your name is ", name)

Enter your name Albert
Your name is  Albert

Task 05

In [ ]:
M = input("Enter a number ")
M = int(M)
N = input("Enter power ")
N = int(N)

print(M ** N)

Enter a number 10
Enter power 3
1000

Task 06

In [ ]:
shipment = int(input("Enter total weight of shipment: "))
weight = shipment % 4
if weight == 0:
  print("The maximum weight the boat can take from the given shipment is ", weight)
else:
  print("The maximum weight the boat can take from the given shipment is ",shipment - weight)

Enter total weight of shipment: 23
The maximum weight the boat can take from the given shipment is  20

Task 07

In [ ]:
M = input("Enter the value of M ")
N = input("Enter the value of N ")

print(N + M )

Enter the value of M Python
Enter the value of N 3
3Python

Task 08

In [ ]:
line = input("Enter a line: ")
print(line[0])

Enter a line: Python is an interpreted language
P

Task 09

In [ ]:
number = int(input("Enter a nuber: "))

if number%2 == 0:
  print(True)
else:
    print(False)

Enter a nuber: -26
True

Task 10

In [ ]:
A = int(input("Enter integer value of A: "))
B = int(input("Enter integer value of B: "))
C = int(input("Enter integer value of C: "))
D = float(input("Enter floating number of D: "))

formula = A ** C + (B * A) - D/3
print(int(formula))

Enter integer value of A: 88
Enter integer value of B: 22
Enter integer value of C: 1
Enter floating number of D: 3.3
2022

Task 11

In [ ]:
chocolates = int(input("Enter the number of chocolates: "))

print("Each friend will receive", int(chocolates/3),"chocolates")
print("The number of remaining chocolates is ", chocolates%3)

Enter the number of chocolates: 50
Each friend will receive 16 chocolates
The number of remaining chocolates is  2