Task 01

In [ ]:
var1 = int(input("Please enter the first number: "))
var2 = int(input("Please enter the second number: "))
sum = var1 + var2
product = var1 * var2
difference = var1 - var2

print("The sum of the two number is",sum)
print("The product of the two number is",product)
print("The difference of the two number is",difference)

Please enter the first number: 5
Please enter the second number: 2
The sum of the two number is 7
The product of the two number is 10
The difference of the two number is 3

Task 02

In [ ]:
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius ** 2
circumference = 2 * math.pi * radius
print("Area is ",area)
print("Circumference is ",circumference)

Enter the radius of the circle: 3.5
Area is  38.48451000647496
Circumference is  21.991148575128552

Task 03

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

if(a>b):
  print("First is greater")
elif(b>a):
  print("Second is greater")
else:
  print("The numbers are equal")

Enter the first number: 11
Enter the second number: 11
The numbers are equal

Task 04

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

if(a>b):
  subtracts = a - b
  print("The result of the subtracts is ",subtracts)
else:
  subtracts = b - a
  print("The result of the subtracts is ",subtracts)

Enter the first number: 5
Enter the second number: 5
The result of the subtracts is  0

Task 05

In [ ]:
number = int(input("Enter the number: "))

if(number % 2 == 0):
  print("The number is even")
else:
  print("The number is odd")

Enter the number: -44
The number is even

Task 06

In [ ]:
num = int(input("Enter a number: "))

# if (num % 2 == 0 and num % 5 == 0):
#   print("It's a multiple of 2 and 5 both")
if (num % 2 == 0):
  print("It's a multiple of 2")
elif(num % 5 == 0):
  print("It's a multiple of 5")
else:
  print("Not a multiple of 2 or 5")

Enter a number: 3
Not a multiple of 2 or 5

Task 07

In [ ]:
num = int(input("Enter a number: "))

if (num % 2 == 0 and num % 5 == 0):
  print("Multiple of 2 and 5 both")
elif (num % 2 == 0):
  print("It's a multiple of 2")
elif(num % 5 == 0):
  print("It's a multiple of 5")
else:
  print("Not a multiple we want")

Enter a number: 17
Not a multiple we want

Task 08

In [ ]:
num = int(input("Enter a number: "))

if (num % 2 == 0 and num % 5 == 0):
  print("Multiple of 2 and 5 both")
else:
  print("Not multiple of 2 and 5 both")

Enter a number: 6
Not multiple of 2 and 5 both

Task 09

In [ ]:
num = int(input("Enetr the number of seconds: "))

hours = num // 3600
minutes = (num - hours * 3600) // 60
seconds = (num - hours * 3600) % 60
print("Hours:",hours,"Minutes:",minutes,"Seconds",seconds)

Enetr the number of seconds: 500
Hours: 0 Minutes: 8 Seconds 20

Task 10

In [ ]:
hour = int(input("Enter the working hours: "))

if(hour <0):
  print("Hour cannot be negative")
elif(hour > 168):
    print("Impossible to work more than 168 hours weekly")
elif(hour <= 40):
  salary = 200 * hour
  print("Your weekly salary is: ",salary)
elif(hour > 40):
  salary = 8000 + (hour - 40) * 300
  print("Your weekly salary is: ",salary)
else:
  print("Invalid input")

Enter the working hours: 170
Impossible to work more than 168 hours weekly

Task 11

In [ ]:
s = int(input("Enter the value of S: "))

if s < 100:
  L = 3000 - 125 * s ** 2
  print("The value of L is ",L)
elif s >= 100:
  L = 12000 / (4 + (s ** 2)/14900)
  print("The value of L is ",L)
else:
  print("Invalid input")

Enter the value of S: 3
The value of L is  1875

Task 12

In [ ]:
time = int(input("Enter your time in 24 hour format: "))

if time < 0 or time >23:
  print("Wrong time")
elif 4<= time <= 6:
  print("Breakfast")
elif 12<= time <= 13:
  print("Lunch")
elif 16<= time <= 17:
  print("Snacks")
elif 19<= time <= 20:
  print("Dinner")
else:
  print("Patience is a virtue")

Task 13

In [ ]:
marks = int(input("Enter your marks: "))

if marks < 0 or  marks > 100:
  print("Invalid marks")
elif marks >= 90:
  print("Your grade is A")
elif 80<=marks <= 89:
  print("Your grade is B")
elif 70<=marks <= 79:
  print("Your grade is C")
elif 60<=marks <= 69:
  print("Your grade is D")
elif 50<=marks <= 59:
  print("Your grade is E")
else:
  print("Your grade is F")

Enter your marks: 49
Your grade is F

Task 14

In [ ]:
distance = float(input("Enter distance in merter: "))
time = float(input("Enter time in seconds: "))

velocity = distance / time
velocity_in_km = velocity * 3.6
print(velocity_in_km)
if velocity_in_km < 60:
  print("Too slow.Needs more changes")
elif 60<= velocity_in_km <=90:
  print("Velocity is okay.The car is ready!")
else:
  print("Too fast.Only a few changes should suffice")

Task 15

In [ ]:
cgpa = float(input("Enter your CGPA: "))
credit = int(input("Enter the number of completed credits: "))

if cgpa < 3.80 or credit < 30:
  print("The student is not eligible for a waiver")
elif 3.80 <=cgpa <=3.89:
 print("The student is eligible for a waiver of 25 percent")
elif 3.90 <=cgpa <=3.94:
 print("The student is eligible for a waiver of 50 percent")
elif 3.95 <=cgpa <=3.99:
 print("The student is eligible for a waiver of 75 percent")
else:
  print("The student is eligible for a waiver of 100 percent")

Enter your CGPA: 4
Enter the number of completed credits: 100
The student is eligible for a waiver of 100 percent

Task 16

In [ ]:
p = 5
q = 6
r = 9
sum = 0
if (p < 12):
 print(r + 2)
else:
 print(r + p)
if (q > 20):
 print(r + 19)
elif (q <= 6):
 print(q + 3)
else:
 print(p + q + r)
if (r > 15):
 print(r)
elif (r == 0):
 print(p + q)
else:
 print(p)
if (sum != 0):
 print(3)
else:
 print(sum + 32)
if (p>0 and r<10):
 print(p+r)
else:
 print(p-r)

11
9
5
32
14

Task 17

In [ ]:


var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)

Task 18

In [ ]:
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)

Task 19

In [ ]:
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)

Task 20

In [ ]:
n = int(input("Enter a number: "))

if n%2==0 or n%5==0:
  print("No")
else:
  print(n)

Enter a number: 12
No

Task 21

In [ ]:
n = int(input("Enter a number: "))

if n%2==0 and n%5==0:
  print("No")
else:
  print(n)

Enter a number: 20
No

Task 22

In [ ]:
canvas = int(input("Enter canvas number: "))
paintTube = int(input("Enter paintTube number: "))

total = canvas*120 + paintTube*75

if 0<= total <=299:
  dis = 0
elif 300<= total <=499:
  dis = 10
elif 500<= total <=749:
  dis = 20
elif 750<= total <=999:
  dis = 50
else:
  dis = 150

payment = total - dis
print("Previous total",total)
print("New total after discount",payment)

Enter canvas number: 0
Enter paintTube number: 3
Previous total 225
New total after discount 225

Task 23

In [ ]:
tem = eval(input("Enter temperature in Fahrenheit: "))

c = (tem - 32) * 0.56

print(c,"Degrees in c")

if c <20:
  print("The season is Winter")
elif 20< c <25:
  print("The season is Autumn")
elif 25< c <30:
  print("The season is Spring")
else:
  print("The season is Summer")

Enter temperature in Fahrenheit: 77
25.200000000000003 Degrees in c
The season is Spring